.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #120537ec;
  border-radius: 30px;
  padding: 10px;
  }

  .search_input{
  
  border: 0;
  outline: 0;
  background: none;
  width: 500px;
  line-height: 40px;
  transition: width 0.4s linear;
  font-style: bold;
  font-weight: 1000;
  color: rgb(246, 223, 223);
  
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:rgb(246, 241, 241);
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: rgb(226, 217, 225);
  color: #090101;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:rgb(248, 242, 242);
  text-decoration:none;
  }
  
  .back{
      background-color: #ffc4df;
  }

  .container2{
      background: url(https://cdn.shopify.com/s/files/1/0587/0823/0318/collections/Ayurveda_1400x.jpg?v=1678799442);
      width: 1500px;
      height: 300px;
      margin-bottom: 10px;
  }
  .container3{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKEwLmjR4jcH3ozZCJ98fMJPJv-EBQ2R-hmX_qdYNXw8LeTq3PH-Tj1-y_qWXaeXP_Kw&usqp=CAU);
    width: 820px;
    height: 120px;
    margin-bottom: 10px;
}
.container4{
    background: url(https://www.jiomart.com/images/product/600x600/rvdygc7wko/mystic-pure-ayurveda-kumkumadi-cream-for-skin-brightening-smoothing-radiance-glow-100g-product-images-orvdygc7wko-p596737025-2-202301010712.png);
    width: 600px;
    height: 500px;
    margin-bottom: 10px;
}
  .test{
      border: #0c0403;
      width: 1250px;
      margin-left: 50px;
      margin-bottom: 100px;
      
  }
  .table{
      font-weight: 500;
  }

  .photo{
      width: 1000px;
      height: 1000px;
  }

  .fa{
      color: #05030c;
  }
  .button {
    background-color: #df9310;
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 2.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button:hover {opacity: 1}
  

  .button2 {
    background-color: #701ef4;
    border: none;
    color: white;
    padding: 16px 50px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 2.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button2:hover {opacity: 1}
  

  .button3 {
    background-color: #d81383;
    border: none;
    color: rgb(189, 220, 16);
    padding: 16px 50px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 2.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .button1:hover {opacity: 1}
  